* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  background-color: #fff;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: #333;
  text-decoration: none;
}

button {
  color: #f3f3f3;
  font-size: 16px;
  opacity: 0.8;
  padding: 0.4em 0.7em;
  border-radius: 0.2em;
  border: 0;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: #888 3px 3px 5px;
          box-shadow: #888 3px 3px 5px;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

/* Medium */
@media (min-width: 481px) {
  .container {
    width: 95%;
  }
}

/* Large */
/* Extra Large*/
.navbar {
  background-color: #066d;
  margin-bottom: 1.3em;
  padding: 0.4em;
}

.navbar .navbar-brand {
  color: #f3f3f3;
  font-size: 22px;
  text-decoration: none;
  margin-left: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-container {
  padding: 23px 25px 32px;
}

.form-container .form-title {
  color: #333;
  font-size: 52px;
  margin-bottom: 32px;
  font-family: "Arizonia", cursive;
}

.form-container .input-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 7px;
}

.form-container input {
  border: 0;
  border-bottom: 3px solid #888;
  padding: 7px 12px;
  font-size: 17px;
  width: 100%;
  margin-bottom: 32px;
}

.form-container .invalid-input {
  -webkit-box-shadow: #f55 0px 0px 7px 4px;
          box-shadow: #f55 0px 0px 7px 4px;
}

.form-container .valid-input {
  -webkit-box-shadow: #23a072 0px 0px 7px 4px;
          box-shadow: #23a072 0px 0px 7px 4px;
}

.form-container .button-container {
  display: inline-block;
}

.form-container .button-container button {
  margin-right: 15px;
}

.form-container .button-container button:last-child {
  margin-right: 0px;
}

.form-container .update-btn {
  background-color: #23a072;
}

.form-container .delete-btn {
  background-color: #f55;
}

.form-container .back-btn {
  background-color: #64505a;
}

@media (min-width: 481px) {
  .form-container {
    border-radius: 0.3em;
    -webkit-box-shadow: #e3e3e3 3px 2px 7px 3px;
            box-shadow: #e3e3e3 3px 2px 7px 3px;
  }
}

@media (min-width: 769px) {
  .form-container .input-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
}

.loading-container img {
  margin: 0 auto;
  display: block;
  position: relative;
  height: 244px;
}

.loading-container p {
  text-align: center;
  line-height: 70px;
  margin: 0;
}

.cant-connect-container h3 {
  text-align: center;
  margin-bottom: 0.8em;
}

.cant-connect-container p {
  font-size: 18px;
  padding: 0 88px;
}

.cant-connect-container button {
  background-color: #e7e7e7;
  color: #333;
  font-size: 16px;
  opacity: 0.7;
  padding: 0.4em 1em;
  border-radius: 0.2em;
  border: 0;
  cursor: pointer;
  margin-left: 89px;
}

.alert {
  color: #444;
  font-size: 17px;
  position: static;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  margin: 0;
  margin-bottom: 1rem;
}

.alert-ok {
  background-color: #9be7cb;
}

.alert-fail {
  background-color: #faa1a1;
}

.form-container {
  padding: 23px 25px 32px;
}

.form-container .form-title {
  color: #333;
  font-size: 52px;
  margin-bottom: 32px;
  font-family: "Arizonia", cursive;
}

.form-container .input-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 7px;
}

.form-container input {
  border: 0;
  border-bottom: 3px solid #888;
  padding: 7px 12px;
  font-size: 17px;
  width: 100%;
  margin-bottom: 32px;
}

.form-container .invalid-input {
  -webkit-box-shadow: #f55 0px 0px 7px 4px;
          box-shadow: #f55 0px 0px 7px 4px;
}

.form-container .valid-input {
  -webkit-box-shadow: #23a072 0px 0px 7px 4px;
          box-shadow: #23a072 0px 0px 7px 4px;
}

.form-container .add-btn {
  background-color: #4747d1;
}

@media (min-width: 481px) {
  .form-container {
    border-radius: 0.3em;
    -webkit-box-shadow: #e3e3e3 3px 2px 7px 3px;
            box-shadow: #e3e3e3 3px 2px 7px 3px;
  }
}

@media (min-width: 769px) {
  .form-container .input-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
}

.total-calories-header,
.empty-db-msg {
  text-align: center;
  margin: 1em auto 0.4em;
  font-size: 49px;
  font-family: "Arizonia", cursive;
}

.meals-list {
  margin: 2em auto 2em;
  list-style: none;
  font-size: 16px;
  border-top: 1px solid #e0e0e0;
  padding: 0;
  width: 100%;
}

.meals-list li {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
  line-height: 1.5rem;
}

.meals-list li:nth-child(odd) {
  background-color: #ffffff;
}

.meals-list li:nth-child(even) {
  background-color: #f4f4f4bb;
}

.meals-list i {
  line-height: 1.5rem;
  float: right;
}
