@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  background-color: $backgroundColor;
  color: $textColorDark;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: $textColorDark;
  text-decoration: none;
}

button {
  color: #f3f3f3;
  font-size: 16px;
  opacity: 0.8;
  padding: 0.4em 0.7em;
  border-radius: 0.2em;
  border: 0;
  cursor: pointer;

  &:hover {
    box-shadow: #888 3px 3px 5px;
  }
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

/* Medium */
@media (min-width: 481px) {
  .container {
    width: 95%;
  }
}

/* Large */
@media (min-width: 769px) {
}

/* Extra Large*/
@media (min-width: 1200px) {
}

// Components SCSS
@import "../App";
@import "../components/navbar";
@import "../components/AppAddingState";
@import "../components/AppEditingState";
