.form-container {
  padding: 23px 25px 32px;
  // border-radius: 0.3em;
  // box-shadow: #e3e3e3 3px 2px 7px 3px;

  .form-title {
    color: $textColorDark;
    font-size: 52px;
    margin-bottom: 32px;
    font-family: $fontArizonia;
  }

  .input-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 7px;
  }

  input {
    border: 0;
    border-bottom: 3px solid #888;
    padding: 7px 12px;
    font-size: 17px;
    width: 100%;
    margin-bottom: 32px;
  }

  .invalid-input {
    box-shadow: #f55 0px 0px 7px 4px;
  }

  .valid-input {
    box-shadow: #23a072 0px 0px 7px 4px;
  }

  .add-btn {
    background-color: #4747d1;
  }

  .update-btn {
    background-color: #23a072;
    display: none;
  }

  .delete-btn {
    background-color: #f55;
    display: none;
  }

  .back-btn {
    background-color: #64505a;
    display: none;
  }
}

.total-calories-header {
  text-align: center;
  margin: 1em auto 0.4em;
  font-size: 49px;
  font-family: $fontArizonia;
}

.meals-list {
  margin: 2em auto 2em;
  list-style: none;
  font-size: 16px;
  border-top: 1px solid #e0e0e0;
  padding: 0;
  width: 100%;

  li {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
    line-height: 1.5rem;
  }

  li:nth-child(odd) {
    background-color: #ffffff;
  }

  li:nth-child(even) {
    background-color: #f4f4f4bb;
  }

  i {
    line-height: 1.5rem;
    float: right;
  }
}

@media (min-width: 481px) {
  .form-container {
    border-radius: 0.3em;
    box-shadow: #e3e3e3 3px 2px 7px 3px;
  }
}

@media(min-width: 769px) {
  .form-container {
    .input-container {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 25px;
    }
  }
}
