.loading-container {
  margin: 25px 0;

  img {
    margin: 0 auto;
    display: block;
    position: relative;
    height: 244px;
  }

  p {
    text-align: center;
    line-height: 70px;
    margin: 0;
  }
}