.edit-form-container {  
  button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .update-btn { background-color: #23a072; }

  .delete-btn { background-color: #f55; }

  .back-btn { background-color: #64505a; }
}
