.total-calories-header,
.empty-db-msg {
  text-align: center;
  margin: 1em auto 0.4em;
  font-size: 49px;
  font-family: $fontArizonia;
}

.meals-list {
  margin: 2em auto 2em;
  list-style: none;
  font-size: 16px;
  border-top: 1px solid #e0e0e0;
  padding: 0;
  width: 100%;

  li {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
    line-height: 1.5rem;
  }

  li:nth-child(odd) {
    background-color: #ffffff;
  }

  li:nth-child(even) {
    background-color: #f4f4f4bb;
  }

  a {
    line-height: 1.5rem;
    float: right;
  }
}
