.navbar {
  background-color: #006d;
  margin-bottom: 1.3em;
  padding: 0.4em;

  .navbar-brand {
    color: #f3f3f3;
    font-size: 22px;
    text-decoration: none;
    margin-left: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
